POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

DATABASE_URL=
SENDGRID_API_KEY=
EMAIL_FROM=
FRONTEND_URL=
SECRET_KEY=
JWT_ALGORITHM=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=